* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    background-image: url(https://img.freepik.com/premium-vector/holographic-world-map_79603-1632.jpg?w=2000);
    background-size: cover;
    background-position: center;
}
.container {
    max-width: 350px;
    margin: auto;
}
#general {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#one {
    width: 440px;
    background-color: #f1f8fd;
    border-radius: 5px;
}
#one h1 {
    font: bold 28px "Proxima Nova";
    font-size: 24px;
    text-transform: uppercase;
    color: #4f4f4f;
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 34px;
}
#one h5 {
    opacity: 0.800;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 28px;
    text-transform: uppercase;
    color: #4f4f4f;
    font-weight: bold;
    font-family: "Proxima Nova";
}
#one form input {
    width: 100%;
    height: 50px;
    border-radius: 3px;
    background-color: #fbfdfe;
    border: 1px solid #d8d8d8;
    outline: none;
    opacity: 0.902;
    font-size: 18px;
    color: #555555;
    font-weight: 300;
    font-family: "Proxima Nova";
    padding-left: 17px;
}
#one form input::placeholder {
    color: #555555;
}
#one form input:nth-child(1) {
    margin-bottom: 38px;
}
#one form input:nth-child(2) {
    margin-bottom: 12px;
}
#one label {
    font-size: 14px;
    line-height: 28px;
    color: #8b8b8b;
    font-weight: bold;
    font-family: "Proxima Nova";
    cursor: pointer;
}
#one header label:nth-child(3) {
    font-size: 14px;
    line-height: 28px;
    color: #04a9f4;
    font-weight: bold;
    font-family: "Proxima Nova";
    text-align: right;
    margin-left: 57%;
    cursor: pointer;
}
#one form header input {
    width: 15px;
    height: 15px;
    border-radius: 6px;
    background-color: #04a9f4;
    margin-bottom: 26px;
    cursor: pointer;
}
#one form button {
    width: 352px;
    height: 55px;
    border-radius: 4px;
    filter: drop-shadow(0px 3px 0px #0075aa);
    background-color: #0896d7;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-family: "Proxima Nova";
    text-align: center;
    filter: drop-shadow(0px -1px 0px rgba(0, 0, 0, 0.2));
    border: none;
    margin-bottom: 50px;
    cursor: pointer;
}

#one header .fb button {
    width: 170px;
    height: 36px;
    border-radius: 6px;
    border: none;
    background-color: #3162a2;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-family: "Proxima Nova";
    text-align: center;
    margin-bottom: 30px;
    cursor: pointer;
}
#one header .tw button {
    width: 170px;
    height: 36px;
    border-radius: 6px;
    border: none;
    background-color: #00aaf4;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-family: "Proxima Nova";
    text-align: center;
    margin-left: 6px;
    cursor: pointer;
}
.fa-eye{
    position: absolute;
    top: 51%;
    right:13%;
    cursor: pointer;
    color: #555555
  }